<div class="content-top">
<div class="header">
<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
<a class="heading">The Headline Project</a>
</div>
</div>

<div class="about">
<div class="pure-g-r">
<div class="pure-u-1-3">
</div>

<div class="pure-u-2-3">
  <div class="box splash-text">
      <h1 class="splash-head">
          About this project.
      </h1>

      <h2 class="splash-subhead">
          The purpose of this project is to employ a sentiment analysis engine in order to explore the sentiment rankings across different news headlines. For instance, is the sentiment ranking of news site A more positive than news site B over a certain time period?
          If you believe a news site has a certain bias, is that reflected in their sentiment rating?
      </h2>
  </div>
</div>
</div>
</div>

<div class="content-graph">

<div class="data_visual">
<div class="svg-graph">
</div>

<div class="buttons-graph">
  <div class="cnn">
  </div>
  <div class="cnn-politics">
  </div>
  <div class="fox">
  </div>
  <div class="msnbc">
  </div>
  <div class="huffpost">
  </div>
  <div class="yahoo">
  </div>
  <div class="onion">
  </div>
</div>
</div>
</div>

<div class="content-cal">

<div class="cal_visual">
<div class="svg-cal">
</div>

<div class="buttons-cal">
  <div class="cnn-cal">
  </div>
  <div class="cnn-politics-cal">
  </div>
  <div class="fox-cal">
  </div>
  <div class="msnbc-cal">
  </div>
  <div class="huffpost-cal">
  </div>
  <div class="yahoo-cal">
  </div>
  <div class="onion-cal">
  </div>
</div>
</div>
</div>

<div class="ribbon">
</div>

<div class="footer">
<h2>Thanks for checking out the Headline Project!</h2>
</div>