<div id="wrapper">

	<div id="hero">
		
		<h1 >Our Awesome project</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoid est laborum.</p>
	</div>


	<section id="scatter-area" class="cf">
		<ul>
			<li>CNN</li>
			<li>CNN Politics</li>
			<li>Fox</li>
			<li>MSNBC</li>
			<li>HuffPost</li>
			<li>Yahoo</li>
			<li>The Onion</li>

		</ul>

		<div id="scatterplot">
			
		</div>

	</section>

	<section id="calendar-area" class="cf">
		
		<ul>
			<li>CNN</li>
			<li>CNN Politics</li>
			<li>Fox</li>
			<li>MSNBC</li>
			<li>HuffPost</li>
			<li>Yahoo</li>
			<li>The Onion</li>

		</ul>

		<div id="calendar">
			
		</div>

		<aside id="headlines">
			<h1>Headlines</h1>
			

		</aside>






	</section>


</div>