<h2>Mo Data, Mo Problems</h2>
<div id="scatterButtons">
  <button class="cnn">CNN</button>
  <button class="foxnews">Foxnews</button>
  <button class="huffingtonpost">huffingtonPost</button>
  <button class="msnbc">MSNBC</button>
  <button class="yahoo">Yahoo</button>
  <button class="cnnpolitics">CNN-Politics</button>
  <button class="theonion">The Onion</button>

</div>

<div id="waiting"></div>
<div id="scatter"></div>

<div id="calendarButtons">
  <button class="cnn visible">CNN</button>
  <button class="foxnews">Foxnews</button>
  <button class="huffingtonpost">huffingtonPost</button>
  <button class="msnbc">MSNBC</button>
  <button class="yahoo">Yahoo</button>
  <button class="cnnpolitics">CNN-Politics</button>
  <button class="theonion">The Onion</button>

</div>


<div id="calendars">
<aside id="headlines">

</div>

  <ul>
  </ul>
</aside>