<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-524dab777bb21066"></script>
<!-- AddThis Button END -->

<div id="wrapper">

	<div id="hero">

		<h1>Headline Sentiment Project</h1>

		<p>
			This tool illustrates the average sentiment score for various news agencies' headlines over time.
			Click on a news agency to see their averages plotted over time. 
		</p>
	</div>


	<section  class="cf">

		<div id="scatter">

		</div>
		<ul id="scatterButtons" class="cf">
  		<li class="aggregate">Aggregate</li>
			<li class="cnn">CNN</li>
			<li class="cnnpolitics">CNN Politics</li>
			<li class="foxnews">Fox</li>
			<li class="msnbc">MSNBC</li>
			<li class="huffingtonpost">HuffPost</li>
			<li class="yahoo">Yahoo News</li>
			<li class="theonion">The Onion</li>

		</ul>
	</section>

	<section id="calendar-area" class="cf">

		<ul id="calendarButtons">
			<li class="aggregate visible">Aggregate</li>
			<li class="cnn">CNN</li>
			<li class="cnnpolitics">CNN Politics</li>
			<li class="foxnews ">Fox</li>
			<li class="msnbc">MSNBC</li>
			<li class="huffingtonpost">HuffPost</li>
			<li class="yahoo">Yahoo News</li>
			<li class="theonion">The Onion</li>
		</ul>
		<div id="calendarWrapper" class="cf">
			<h2>Select a source to view their headlines by year</h2>
			<ul id='months'>
			    <li>Jan</li>
			    <li>Feb</li>
			    <li>Mar</li>
			    <li>Apr</li>
			    <li>May</li>
			    <li>June</li>
			    <li>July</li>
			    <li>Aug</li>
			    <li>Sept</li>
			    <li>Oct</li>
			    <li>Nov</li>
			    <li>Dec</li>
			</ul>
			<div id="calendars">
			</div>
			<div id='legend'>
				<h3>Legend</h3>
				<div id="something">
					<li>More Negative</li>
					<li>Nuetral</li>
					<li>More Positive</li>
				</div>
			</div>
		</div>
<!--  -->






	</section>


</div>
