/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
 ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}


p{
  font-size: 1em;
}

span{
  /*font-size: 2em;*/
  list-style: decimal;
}

nav {
  width: 100%;
  background-color: #999;
  text-align: left;
  padding: .5em;
}

body {
	margin: 0 auto;
	/*line-height: 27px;*/
  width: 100%;
  height: 100%;
}

#wrapper{
  width: 95%;
  margin: auto; 
  height: 100%;
  margin-bottom: 100px;
}

#hero{
  padding: 2em;
  /*margin-top: 2em;*/
  width: 70%;
  margin: 2em auto;
  background-color: #999;
  border-radius: 5px;
}

section{
  border-radius: 5px;
  margin-top: 5em;
  width: 100%;
  background-color: #eee;
}

 ul{
  float: left;
  width: 10%;
  /*height: */
  border:1px black;
  border-radius: 5px;
}

 ul li{
  text-align: center;
  padding: 1em;
  font-size: 1em;
  border-bottom: 1px dashed black;
}

#scatterButtons li:hover{
  cursor: pointer;
}

#scatterButtons li.cnn{
  color: #ED2D2E;
}

#scatterButtons li.cnn.selected{
  color: #eee;
  background-color: #ED2D2E;
}

#scatterButtons li.cnnpolitics{
  color: #662C91;
}

#scatterButtons li.cnnpolitics.selected{
  color: #eee;
  background-color: #662C91;
}

#scatterButtons li.foxnews{
  color: #008C47;
}

#scatterButtons li.foxnews.selected{
  color: #eee;
  background-color: #008C47;
}

#scatterButtons li.msnbc{
  color: #F37D22;
}

#scatterButtons li.msnbc.selected{
  color: #eee;
  background-color: #F37D22;
}

#scatterButtons li.huffingtonpost{
  color: #1859A9;
}

#scatterButtons li.huffingtonpost.selected{
  color: #eee;
  background-color: #1859A9;
}

#scatterButtons li.yahoo{
  color: #B33893;
}

#scatterButtons li.yahoo.selected{
  color: #eee;
  background-color: #B33893;
}

#scatterButtons li.theonion{
  color: #010101;
}

#scatterButtons li.theonion.selected{
  color: #eee;
  background-color: #010101;
}

#scatter{
  /*float: right;*/
  margin-left: 10%;
  width: 90%;
  height: 46em;
  /*min-height: 300px;*/
  background-color: #eee;
}

#calendar-area{
  width: 790px;
  position: relative;
  margin: 5em auto;
}

#calendarWrapper{
  width: 87%;
  float: left;
  position: relative;
  height: 650px;
  text-align: center;
}

#calendarWrapperButtons{

}

#calendarWrapper #months{
  float: left;
  position: absolute;
  top:64px;
  z-index: 1;
  font-weight: 600;
}

#calendarWrapper #months li{
  border: none;
  margin-bottom: 1.2em;
  top: 64px;
}

#calendars{
  /*float: left;*/
  /*background-color: #999;*/
  top: -10px;
  text-align: center;
  height: 65em;
  width: 570px;
  -webkit-transform:rotate(90deg);
  position: absolute;
  right: 74px;
}

#simplemodal-overlay{
  background-color: #999;
  cursor: pointer;
}

#simplemodal-container{
  background-color: #bbb;
}

#simplemodal-data{
  padding: 1em 3em;
}

#simplemodal-data h2{

}

#simplemodal-data ol{
  list-style: decimal;
}

#modal-header{
  border-bottom: 1px solid black;
}

#modal-header span{
  padding: .5em 0;
}


#modal-header span:first-child{
  float: left;
  font-weight: 600;
}

#simplemodal-data span:last-child{
  float: right;
  /*width: 50px;*/
  font-weight: 600;
}

#simplemodal-data li{
  padding: .5em;
  margin-left: 1.6em;
  border-bottom: 1px dashed black;
  overflow-y: auto;
}

#simplemodal-data li span{
  float: right;
  /*font-size: 1em;*/
}

#simplemodal-container a.modalCloseImg {
  background:url(x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

#headlines{
  /*display: inline-block;*/
  text-align: center;
  float: right;
  width: 30%;
  background-color: whitesmoke;
}


/*Graph*/

.content-graph {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  background-color: red;
  width: 100%;
}

.data_visual{
  width: 80%;
  margin: auto;
}


.svg-graph {
  width: 70%;
  height: 450px;
  /*margin-left: 290px;*/
  /*margin-top: 5px;*/
  /*padding-top: 10px;*/
  background-color: yellow;
}

.buttons-graph {
  /*margin-left: 8px;*/
  height: 450px;
  width: 25%;
  background-color: blue;
}

.footer {
	background: #111;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 80%;
	width: 100%;
	position: relative;
	bottom: 0px;
	box-shadow: 0px 1px 25px #5E5E5E;
	background-color:#9A8E8A;
}
