/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}


p{
  font-size: 2em;
}

span{
  font-size: 2em;
}

nav {
  width: 100%;
  background-color: #999;
  text-align: left;
  padding: .5em;
}

body {
	margin: 0 auto;
	/*line-height: 27px;*/
  width: 100%;
  height: 100%;
}

#wrapper{
  width: 85%;
  margin: auto; 
  height: 100%;
  margin-bottom: 100px;
}

#hero{
  padding: 2em;
  /*margin-top: 2em;*/
  width: 70%;
  margin: 2em auto;
  background-color: #999;
  border-radius: 5px;
}

section{
  border-radius: 5px;
  margin-top: 5em;
  width: 100%;
  background-color: #eee;
}

 ul{
  float: left;
  width: 10%;
  /*height: */
  border:1px black;
}

 ul li{
  text-align: center;
  padding: 1.5em;
  font-size: 1.5em;
  border-bottom: 1px dashed black;
}

 ul li:hover{
  cursor: pointer;
  background-color: whitesmoke;
}

#scatterplot{
  /*float: right;*/
  margin-left: 10%;
  width: 90%;
  height: 46em;
  /*min-height: 300px;*/
  background-color: #999;
}

#calendar{
  float: left;
  background-color: #999;
  height: 70em;
  width: 60%;
}

#headlines{
  /*display: inline-block;*/
  text-align: center;
  float: right;
  width: 30%;
  background-color: whitesmoke;
}

.box {
	padding: 10px;
}

.header {
	margin: 0 0;
	background: #736D6A;
	color: white;
	font-size: 20px;
	text-align: center;
	height: 45px;
	padding: 10px;
}

.about {
	text-align: center;
	width: 45%;
	margin: 15px auto 0;
	padding: 25px 5px;
	background: #CCC4C1;
  opacity: 0.9;
}

.about .splash-head {
  font-size: 300%;
  margin: 0px 0;
  line-height: 25px;
}

.about .splash-subhead {
  color: ;
  font-weight: 300;
  line-height: 20px;
}

/*Graph*/

.content-graph {
  margin-top: 10px;
  width: 100%;	
  height: 500px;
  background-color: red;
  width: 100%;
}

.data_visual{
  width: 80%;
  margin: auto;
}


.svg-graph {
  width: 70%;
  height: 450px;
  /*margin-left: 290px;*/
  /*margin-top: 5px;*/
  /*padding-top: 10px;*/
  background-color: yellow;
}

.buttons-graph {
  /*margin-left: 8px;*/
  height: 450px;
  width: 25%;
  background-color: blue;
}

.cnn {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: -440px
}

.cnn-politics {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.fox {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.msnbc {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.huffpost {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.yahoo {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.onion {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

/*Calendar*/

.content-cal {
  margin-top: 10px;
  width: 100%;	
  height: 900px;
  background-color: red;
}


.svg-cal {
  width: 70%;
  height: 900px;
  margin-left: 290px;
  margin-top: 5px;
  padding-top: 10px;
  background-color: yellow;
}

.buttons-cal {
  margin-top: -990px;
  margin-left: 8px;
  height: 450px;
  width: 200px;
  background-color: blue;
/*  margin-top: -440px*/
}

.cnn-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 100px
}

.cnn-politics-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.fox-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.msnbc-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.huffpost-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.yahoo-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

.onion-cal {
  height: 40px;
  width: 200px;
  background-color: green;
  margin-top: 10px
}

/*.ribbon {*/
/*	background: #eee;
	text-align: center;
	padding: 32px;
	color: #999;
	width: 100%;
	position: fixed; 
	top: 950px;
}*/

.footer {
	background: #111;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 80%;
	width: 100%;
	position: relative;
	bottom: 0px;
	box-shadow: 0px 1px 25px #5E5E5E;
	background-color:#9A8E8A;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}