html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
 ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2em;
}


p{
  font-size: 1em;
}

span{
  /*font-size: 2em;*/
  list-style: decimal;
}

nav {
  width: 100%;
  background-color: rgba(232,237,237,1);
  text-align: left;
  padding: .5em;
}

body {
  margin: 0 auto;
  /*line-height: 27px;*/
  width: 100%;
  height: 100%;
  background: url('/greyzz.png');
  font: 10px sans-serif;
}
h1, h2, h3, h4, p{
  font-family: 'Libre Baskerville', serif;
}
h3 {
  font-size: 15px;
  padding: 7px 0;
  border-bottom: 1px solid #DFD9D9;
  background: #F8F8F8;
}

p{
  font-size: 1.55em;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis text{
  font-size: 1.25em;
  font-weight: 500;
}

path{
  stroke-width: 2px;
}

circle{
  opacity: .35;
}

circle.aggregate{
  fill: #191919;
}

path.aggregate{
  fill:none;
  stroke: #191919;
}

circle.cnn{
  fill: #F1595F;
  /*opacity:.4;*/
}

path.cnn {
  fill:  none;
  stroke: #F1595F;
  /*stroke-width: 1px;*/
}

circle.foxnews{
  fill: #79C36A;

}

path.foxnews{
  fill:  none;
  stroke: #79C36A;
  /*stroke-width: 1px;*/
}

circle.huffingtonpost{
  fill: #599AD3;
}

path.huffingtonpost{
  fill:  none;
  stroke: #599AD3;
  /*stroke-width: 1px;*/
}

circle.msnbc{
  fill: #F9A65A;
}

path.msnbc{
  fill:  none;
  stroke: #F9A65A;
  /*stroke-width: 1px;*/
}

circle.yahoo{
  fill: #9E66AB;
}

path.yahoo{
  fill: none;
  stroke: #9E66AB;
  /*stroke-width: 1px;*/
}

circle.cnnpolitics{
  fill: #CD7058;
}

path.cnnpolitics{
  fill: none;
  stroke: #CD7058;
  /*stroke-width: 1px;*/
}

circle.theonion{
  fill: #D77FB3;
}

path.theonion{
  fill: none;
  stroke: #D77FB3;
  /*stroke-width: 1px;*/
}

.hide{
  display: none;
  opacity: 0;
}

.day:hover{
  stroke: black;
  stroke-width: 2px;
  cursor: pointer;
  /*-webkit-transform: scale(1.5,1.5);*/
}

#headlines ol span{
  float: right;
}

#wrapper{
  width: 95%;
  margin: auto; 
  height: 100%;
  margin-bottom: 100px;
}

#hero{
  text-align: center;
  padding: 2em;
  /*margin-top: 2em;*/
  width: 70%;
  margin: 2em auto;
  /*background-color: rgba(232,237,237,1);*/
  border-radius: 5px;
}

#hero {
  padding: 2em;
  margin: 2em auto;
  border-radius: 5px;
  color: #534E4E;
  width: 60%;
}
section{
  min-width: 790px;
  border-radius: 5px;
  margin-top: 5em;
  width: 90%;
  background-color: rgba(232,237,237,1);
  margin: auto;
}

 ul{
  float: left;
  width: 10%;
  /*height: */
  border:1px black;
  border-radius: 5px;
}

 ul li{
  text-align: center;
  padding: 1em;
  font-size: 1.25em;
  /*border-bottom: 1px dashed black;*/
}

#scatterButtons {
  width: 100%;
  float: none;
  background: #F8F8F8;
  padding-left: 24px;
  border-top: 1px solid #D5D5D5;
  border-radius: 0px;
}

#scatterButtons li{
  float: left;
  margin: 1em;
}

li{
  box-sizing: border-box;
  height: 4em;
  border: 2px dashed;
  margin: .5em .15em;
}

#scatterButtons li:hover{
  cursor: pointer;
}



#scatterButtons li.selected, li.visible{
  border: 4px solid;
  /*font-weight: 600;*/
  /*background-color: */
}

#scatterButtons li.cnn{
  color: #F1595F;

}

#scatterButtons li.aggregate{
  color: #191919;
  border-color: #191919;
}

#scatterButtons li.cnn.selected{
  /*color: #eee;*/
  border-color: #F1595F;
}

#scatterButtons li.cnnpolitics{
  color: #CD7058;
}

#scatterButtons li.cnnpolitics.selected{
  border-color: #CD7058;
}

#scatterButtons li.foxnews{
  color: #79C36A;
}

#scatterButtons li.foxnews.selected{
  border-color: #79C36A;
}

#scatterButtons li.msnbc{
  color: #F9A65A;
}

#scatterButtons li.msnbc.selected{
  border-color: #F9A65A;
}

#scatterButtons li.huffingtonpost{
  color: #599AD3;
}

#scatterButtons li.huffingtonpost.selected{
  border-color: #599AD3;
}

#scatterButtons li.yahoo{
  color: #9E66AB;
}

#scatterButtons li.yahoo.selected{
  border-color: #9E66AB;
}

#scatterButtons li.theonion{
  color: #D77FB3;
}

#scatterButtons li.theonion.selected{
  border-color: #D77FB3;
}

#scatter{
  /*float: right;*/
  /*margin-left: 10%;*/
  width: 100%;
  height: 55em;
  /*min-height: 300px;*/
  /*background-color: #eee;*/
  background-color: #F5F5F5;
}

#calendar-area{
  width: 990px;
  position: relative;
  margin: 5em auto;
  padding: 30px;
  background-color: #F5F5F5;
}

#calendarWrapper{
  width: 87%;
  float: left;
  position: relative;
  height: 925px;
  text-align: center;
  margin-left: 12%;

}

#calendarWrapper h2 {
  font-size: 2.5em;
  font-weight: 600;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  /*width: 500px;*/
  border-bottom: 1px solid #D6D1D1;
  color: #353232;
}


#calendarButtons {
  float: none;
  position: absolute;
  width: 15%;
  top: 9em;
  background: #F8F8F8;
  padding: 9px;
  border: 1px solid #DBD7D7;
}
#calendarButtons li{
  cursor: pointer;
}

#calendarWrapper #months{
  float: left;
  position: absolute;
  top:64px;
  z-index: 1;
  font-weight: 600;
  width: 10%;
  font-size: 1.2em;
  left: 25px;
}

#calendarWrapper #months li{
  border: none;
  margin: 5px;
  padding-right: 0px;
  /*top: 64px;*/
}

#calendars{
  /*float: left;*/
  /*background-color: #999;*/
  top: 130px;
  text-align: center;
  height: 65em;
  width: 970px;
  -webkit-transform:rotate(90deg);
  position: absolute;
  /*right: 74px;*/
}

#simplemodal-overlay{
  background-color: #999;
  cursor: pointer;
}

#simplemodal-container{
  background-color: #bbb;
}

#simplemodal-data{
  padding: 1em 3em;
  background: #F7F8FC;
}

#simplemodal-data h2 a{
  font-family: 'Libre Baskerville', serif;
  color: #534E4E;
  text-transform:capitalize;
}

#simplemodal-data ol{
  list-style: decimal;
  font-size: 12px;
}

#modal-header{
  border-bottom: 1px solid black;
}

#modal-header span{
  padding: .5em 0;
}


#modal-header span:first-child{
  float: left;
  font-weight: 600;
}

#simplemodal-data span:last-child{
  float: right;
  /*width: 50px;*/
  font-weight: 600;
}

#simplemodal-data li{
  padding: .5em;
  margin-left: 1.6em;
  border: none;
  border-bottom: 1px dashed black;
}

#simplemodal-data li span{
  float: right;
  /*font-size: 1em;*/
}

#simplemodal-container a.modalCloseImg {
  background:url(x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

#headlines{
  /*display: inline-block;*/
  text-align: center;
  float: right;
  width: 30%;
  background-color: whitesmoke;
}


/*Graph*/

.content-graph {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  background-color: red;
  width: 100%;
}

.data_visual{
  width: 80%;
  margin: auto;
}


.svg-graph {
  width: 70%;
  height: 450px;
  /*margin-left: 290px;*/
  /*margin-top: 5px;*/
  /*padding-top: 10px;*/
  background-color: yellow;
}

.buttons-graph {
  /*margin-left: 8px;*/
  height: 450px;
  width: 25%;
  background-color: blue;
}

.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 80%;
  width: 100%;
  position: relative;
  bottom: 0px;
  box-shadow: 0px 1px 25px #5E5E5E;
  background-color:#9A8E8A;
}



.day {
  fill: #fff;
  stroke: #ccc;
}
.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

img{
  display: inline-block;
  /*width: 500px;
  height: 100px;*/
}
#waiting {
display: block;
width: 850px;
margin: 0 auto;
}


.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

.cf {
box-shadow: 2px 3px 9px #7E7373;
border-radius: 7px;
}

#calendarWrapper.cf, #simplemodal-data .cf {
  box-shadow: none;
}
#simplemodal-data .cf{
  border-radius: 0;
}
#legend {
position: absolute;
bottom: 77px;
left: -111px;
width: 147px;
height: 229px;
background: #F8F8F8;
border: 1px solid #DBD7D7;
border-radius: 5px;
}

#something {
  background: -webkit-linear-gradient(top, rgb(165,0,38), rgb(215,48,39),rgb(244,109,67),rgb(253,174,97),rgb(254,224,139),rgb(217,239,139),rgb(166,217,106),rgb(102,189,99),rgb(26,152,80),rgb(0,104,55));
  height: 155px;
  width: 21px;
  margin-left: 11px;
  margin-top: 20px;
  bottom: 74px;
}
#something li{
  margin-left: 32px;
  border: none;
  list-style: none;
  margin-bottom: 22px;
  font-size: 12px;
}
