body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis text{
  font-size: 1em;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

path{
  stroke-width: 2px;
}

circle{
  opacity: .35;
}

circle.cnn{
  fill: #ED2D2E;
  /*opacity:.4;*/
}

path.cnn {
  fill:  none;
  stroke: #ED2D2E;
  /*stroke-width: 1px;*/
}

circle.foxnews{
  fill: #008C47;

}

path.foxnews{
  fill:  none;
  stroke: #008C47;
  /*stroke-width: 1px;*/
}

circle.huffingtonpost{
  fill: #1859A9;
}

path.huffingtonpost{
  fill:  none;
  stroke: #1859A9;
  /*stroke-width: 1px;*/
}

circle.msnbc{
  fill: #F37D22;
}

path.msnbc{
  fill:  none;
  stroke: #F37D22;
  /*stroke-width: 1px;*/
}

circle.yahoo{
  fill: #B33893;
}

path.yahoo{
  fill: none;
  stroke: #B33893;
  /*stroke-width: 1px;*/
}

circle.cnnpolitics{
  fill: #662C91;
}

path.cnnpolitics{
  fill: none;
  stroke: #662C91;
  /*stroke-width: 1px;*/
}

circle.theonion{
  fill: #010101;
}

path.theonion{
  fill: none;
  stroke: #010101;
  /*stroke-width: 1px;*/
}

.hide{
  display: none;
  opacity: 0;
}

.day:hover{
  stroke: black;
  stroke-width: 2px;
  cursor: pointer;
  /*-webkit-transform: scale(1.5,1.5);*/
}

#headlines ol span{
  float: right;
}
 body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}
.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

img{
  display: inline-block;
  /*width: 500px;
  height: 100px;*/
}
#waiting {
display: block;
width: 850px;
margin: 0 auto;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
