<!DOCTYPE html>
<html>
<head>
  <title>HeadlineAnalysis</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
</head>

<nav><span>Mo Data Mo Problems</span></nav>
<body>

<%= yield %>

<nav id="bottom"><span>Brought to you by a DBC Chicago Nighthawk group composed of <a href="">Luiz</a><a href="">Kelmer</a><a href="">Cor</a></span></nav>
</body>

</html>
